/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import 'compass/reset';
.container {
	box-sizing: border-box;
	max-width: 960px;
	margin: 0 auto;

	background-color: white;
	overflow: hidden;
}

.bg {

}
body {
	background-image: url('../img/300-subtle-patterns.jpg');
}
.header {
	margin: 0 auto;
	max-width: 960px;
}
.header h1 {
	font: 30px Arial;

	color: lime;


}
.black {
	color: black;
}
.nav {
	font: bold 20px Arial;

	padding-top: 20px;
	padding-bottom: 20px;

	color: white;
	background-color: black;
	text-align: center;
}
.nav ul {
	list-style-type: none;
}
.nav li {
	display: inline;

	margin-right: 15px;
	margin-left: 15px;
}
.nav li a {
	text-decoration: none;
}
.nav li a:link,
.nav li a:visited {
	color: white;
}
.nav li a:hover {
	color: green;
}
.product {
	border: 1px solid black;
	overflow: hidden;
	padding: 30px;
}
.product h2 {
	font: bold 30px calibri, non-serif
}
.product aside {
	float: right;
}
.clear {
	clear: both;
}
.aside {
	margin-top: 30px;
	margin-right: 50px;
}

.product	img {
		width: 400px;
		height: 400px;
		display: block;
		float: left;
	}

	dt {
		font: bold 20px calibri, non-serif;
		margin-bottom: 5px;

	}
	dd {
		font: 20px calibri, non-serif;
		margin-bottom: 40px;
	}
	dt.price {
		font: bold 30px calibri, non-serif;
	}
	dd.price {
		font: bold 30px calibri, non-serif;
		color: darkgrey;
	}