/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
.container {
	max-width: 960px;
	margin: 0 auto;
	box-sizing: border-box;
	background-color: white;
	}
body {
		background-image: url("../img/300-subtle-patterns.jpg");
}
.header {}
.header h1 {
	font: 30px Arial;
	color: lime;
}
.nav {
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	background-color: black;
	font: bold 20px Arial; 
}
.nav ul {
	list-style-type: none;
}
.nav li {
	display: inline;
	margin-left: 15px;
	margin-right: 15px;
}
.nav li a {
	text-decoration: none;
}
.nav li a:link,
.nav li a:visited {
	color: white; 
}
.nav li a:hover {
	color: green;
}