/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
.my-container {
  overflow: hidden;
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
  background-color: white;
}

/* line 17, ../sass/screen.scss */
body {
  background-image: url("../img/300-subtle-patterns.jpg");
}

/* line 23, ../sass/screen.scss */
.my-header {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 29, ../sass/screen.scss */
.my-header input[type="text"] {
  border-radius: 5px;
  height: 27px;
  margin-top: 6px;
  margin-left: 30px;
  padding-left: 10px;
}
/* line 36, ../sass/screen.scss */
.my-header button {
  width: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  box-sizing: content-box;
  background-image: url("../img/sprite.png");
  background-position: -3px -2px;
  border: none;
  border-radius: 5px;
  position: relative;
  right: 35px;
  bottom: 4px;
  transition: 0.3s linear;
}
/* line 50, ../sass/screen.scss */
.my-header button:hover {
  background-position: -3px -33px;
}

/* line 55, ../sass/screen.scss */
.my-header h1 {
  font: bold 35px Arial;
  color: lime;
  float: left;
}

/* line 62, ../sass/screen.scss */
.my-black {
  color: black;
}

/* line 65, ../sass/screen.scss */
.my-nav {
  font: bold 20px Arial;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
  background-color: black;
}

/* line 76, ../sass/screen.scss */
.my-nav ul {
  list-style-type: none;
}

/* line 79, ../sass/screen.scss */
.my-nav li {
  display: inline;
  margin-right: 15px;
  margin-left: 15px;
}

/* line 85, ../sass/screen.scss */
.my-nav li a {
  text-decoration: none;
}

/* line 88, ../sass/screen.scss */
.my-nav li a:link,
.my-nav li a:visited {
  color: white;
}

/* line 92, ../sass/screen.scss */
.my-nav li a:hover {
  color: lime;
}

/* line 95, ../sass/screen.scss */
.my-product {
  overflow: hidden;
  padding: 30px;
  border: 1px solid black;
}

/* line 102, ../sass/screen.scss */
.my-product h2 {
  font: bold 30px calibri, non-serif;
}

/* line 105, ../sass/screen.scss */
.my-product aside {
  float: right;
}

/* line 108, ../sass/screen.scss */
.my-clear {
  clear: both;
}

/* line 111, ../sass/screen.scss */
.my-aside {
  margin-top: 30px;
  margin-right: 50px;
}

/* line 116, ../sass/screen.scss */
.my-product img {
  display: block;
  float: left;
  width: 400px;
  height: 400px;
}

/* line 124, ../sass/screen.scss */
.my-parameters dt {
  font: bold 20px calibri, non-serif;
  margin-bottom: 5px;
}
/* line 129, ../sass/screen.scss */
.my-parameters dd {
  font: 20px calibri, non-serif;
  margin-bottom: 40px;
}
/* line 134, ../sass/screen.scss */
.my-parameters dt.price {
  font: bold 30px calibri, non-serif;
}
/* line 137, ../sass/screen.scss */
.my-parameters dd.price {
  font: bold 30px calibri, non-serif;
  color: darkgrey;
}
